.payment-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.payment-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row div {
    width: 48%;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

#payment-status {
    margin-top: 15px;
    font-weight: bold;
}
